{% extends "encyclopedia/layout.html" %} {% block title %} New Page {% endblock %} {% block body %}
<h1>Create New Page</h1>

<!-- <ul>
    {% for entry in entries %}
    <a href="{% url 'ency:singlePage' entry %}">
        <li>{{ entry }}</li>
    </a>
    {% endfor %}
</ul> -->
<form>
    Title:<br>
    <input type="text" placeholder="Enter title" name="title"><br> Markdown content:<br>
    <textarea style="width: 300px; height: 159px;" placeholder="Enter markdown content" name="content"></textarea><br>
    <input type="submit">
</form>

{% endblock %}