{% extends "encyclopedia/layout.html" %} {% block title %} New Page {% endblock %} {% block body %}
<h1>Create New Page</h1>

{% if error %}
<h4 style="color: red;">{{ error }}</h4> {% endif %}
<form action="{% url 'ency:savePage' %}" method="post">
    {% csrf_token %} Title:
    <br>
    <input type="text" placeholder="Enter title" name="title"><br> Markdown content:<br>
    <textarea style="width: 300px; height: 159px;" placeholder="Enter markdown content" name="content"></textarea><br>
    <input type="submit">
</form>

{% endblock %}